<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Decathlon — Error</title>

    <link rel="icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon" />

    <style>
        div {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

            width: 600px;
            height: 600px;

            text-align: center;

            position:absolute;
            left:0; right:0; top:0; bottom:0;
            margin:auto;

            max-width:100%;
            max-height:100%;
            overflow:auto;
        }

        h1 {
            font-weight: 500;
            line-height: 1.1;
        }
    </style>
</head>
<body>

<div>
    <h1>OOPS! Something went wrong.</h1>
    <img src="http://is2.mzstatic.com/image/thumb/Purple128/v4/2a/02/d1/2a02d1f9-1d7f-ce39-5ef7-b2ba62645f2e/source/512x512bb.jpg"/>
    <h1>Please try again later.</h1>
</div>

</body>
</html>